@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;600;700&family=Roboto+Mono:ital@0;1&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   outline: none;
}
:root{
    /* background color */
    --bg-white:#fff;

    /* text colors */

    --primary-text: #061738;
    --secondary-color:#60cd12;
    --light-color:#e2f6de;
    --dark-color:#03262c;
    --text-white:#fff;
    --text-gray:#dee2e6;
    --anchor-color: #007aff;
    --primary-text-maroon:#803131;

    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Roboto' , sans-serif;
}

body, html{
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400px;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}
h2{
    color: var(--primary-text);
    font-size: 4.7rem;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 2rem;
}
h3{
    color: var(--text-white);
    font-size: 3.1rem;
    line-height: 1.2;
    font-weight: 700;
}

h4{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color:var(--primary-text);
}
h5{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-text);
}

p{
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: var(--primary-text);
    font-family: var(--secondary-font);
}
embed,
iframe,
img,
object{
    max-width: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:hover,
button{
    text-decoration: none;
    outline: 0;
}

li a{
    color: var(--text-white);
}

a:hover,
button:hover{
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scroolbar-track{
    background: var(--bg-white);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-text);
}
.main-btn{
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right, #0f7404, #5cb917);
    z-index: 1;
    overflow: hidden;
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}
.main-btn:hover{
    background: var(--bg-white);
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
}
section{
    padding: 5rem 0;
}
.section-title{
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-text);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.section-subtitle{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-text);
    font-family: var(--secondary-font);
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
}
.about .banner-section,
.product .banner-section,
.gallery .banner-section,
.contact .banner-section {
    background: url('images/wood2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: auto;
}

/* ----------01 navbar css------- */

.header{
   position: absolute;
   width: 100%;
   top:2rem ;
   left: 0;
   z-index: 2;
}
 
.header .navbar{
  background:url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 2rem 5rem;
}

.header .navbar-brand{
    width:7.5rem;
    margin-top: -0.1rem;
}

.header .navbar-nav .nav-link{
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
   color: var(--secondary-color);
}

.header .navbar-toggler{
    color: var(--text-white);
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}
.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

.header .header_right span{
    color: var(--secondary-color);
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.header .header_right .phone-no{
    color: var(--text-white);
    font-size: 1.6rem;
}

.header-scrolled{
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width:1320px ;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;
}

/* 02 Banner Section */
.banner-section{
   
    background: url('../images/front-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
}

.banner-section .carousel-item{
    padding: 3rem 0;
    height: 90vh;
}

.banner-section .carousel-caption{
    top: 30%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;
}

.banner-section .carousel-caption h3{
   padding-bottom: 0.5rem;
}


.banner-section .carousel-caption p{
    max-width: 50rem ;
    margin-bottom: 2rem;
}

/* 03 features css */

.feature-section .features-box{
    background-color: transparent;
    border: 0.15rem solid var(--light-color);
    padding: 8rem 0;
    transition: all 0.3s;
    border-radius: 1rem;
}
.feature-section .features-icon-border{
    background-color: transparent;
    border-radius: 50%;
    border: 0.2rem solid var(--light-color) ;
    padding: 1.3rem;
    display: inline-block;
}
.feature-section .features-box .features-icon{
    height: 6.5rem;
    width: 6.5rem;
    background-color: var(--light-color);
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-section .features-box .features-icon img{
    width: 4.7rem;
}

.feature-section .features-box h3{
    margin-top: 1.5rem;
    color: var(--primary-text);
}
.feature-section .features-box:hover{
    background-color: var(--primary-text-maroon);
    border-color: var(--primary-text-maroon);
}

.feature-section .features-box:hover h3{
    color: var(--text-white);
}

/* 04 About section css */

.landing-about-section{
    background: url("../images/about/about-banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10rem 0;
}
.landing-about-section p{
    color:var(--text-white) ;
    margin-bottom: 2rem;
    max-width: 60rem ;
}

/* 05 product card design */

.landing-product-section .product-card{
   position: relative;
   overflow: hidden;
   cursor: pointer;
   border: 0.2rem solid var(--light-color);
   /* border: 0.2rem solid var(--secondary-color); */
   border-radius: 30px;
   padding: 2rem 1rem;
   transition: all 0.3s;
}
.landing-product-section .product-card .product-img{
    height: 21rem;
    margin-bottom: 7rem;
    text-align: center;
}
.landing-product-section .product-card h3{
    color: var(--primary-text);
}
.landing-product-section .product-card span{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-right: 0.5rem;
    text-decoration: line-through;
    transition: all 0.3s;
}
.landing-product-section .product-card .product-detail{
    position: absolute;
     bottom: -22rem; 
     right: 0;
    left: 0; 
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--primary-text-maroon);
    transition: all 0.5s ease;
}
.landing-product-section .product-card:hover .product-detail{
    bottom: 0;
}

/* 06 Testimonial-section */

.Testimonial-section {
    background-color: var(--primary-text-maroon);
    padding-bottom: 8rem;
    /* color: #f0f1f3; */
}
.Testimonial-section .carousel-indicators{
    bottom: -6rem;
}

.Testimonial-section .carousel-indicators button{
    background-color: var(--dark-color);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.Testimonial-section .card{
    background: url("../images/testimonial/testimonial-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    padding: 5rem 5rem 5rem 0;
    border-radius: 0.5rem 0.5rem 0;
    border: 0.1rem solid transparent;
}
.Testimonial-section .profile-box{
    padding: 1.875rem;
    background-color: var(--dark-color);
    border-radius: .5rem 0 0.5rem;

}

.Testimonial-section .profile-box img{
    border-radius: .626rem 3.125rem ; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Testimonial-section .desc-box{
    padding-left:2.5rem ;
}